[Desktop Entry]
Version=1.0
Name=PolyMC
GenericName=Minecraft Launcher
Comment=Free, open source launcher and instance manager for Minecraft.
Type=Application
Terminal=false
Exec=polymc
Icon=polymc
Categories=Game
Keywords=game;minecraft;
